<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183886388491-hremntii3i20g30cdhncrulrtdf9sgie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183886388491-hremntii3i20g30cdhncrulrtdf9sgie</string>
	<key>API_KEY</key>
	<string>AIzaSyDmqCHJuYBbpe1oOqb7OKC_lijjzEk-NFU</string>
	<key>GCM_SENDER_ID</key>
	<string>183886388491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.brasileiroonline.mobile</string>
	<key>PROJECT_ID</key>
	<string>brasiliero-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>brasiliero-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183886388491:ios:e4c14fff0a44e72413160e</string>
</dict>
</plist>